<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Pages.Index)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(Pages.Index)">
            <p>No se ha encontrado la pagina...</p>
        </LayoutView>
    </NotFound>
</Router>
